<nav class="navbar navbar-expand-lg dark bg-primary">
    
    <div class="container-fluid">
        <i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i>
        <% if user_signed_in? %>
             Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
     
        <%= form_tag(root_path, method: 'get', class: 'd-flex') do %>
            <%= text_field_tag :q, nil, placeholder: 'Buscar tweet', class:'mr-3', style:'border-radius:20px' %>
            <%= submit_tag 'Buscar' %>
        <% end %>
      </div>
    </div>
</nav>
